[user]
	name = Mahmoud Elboghdady
	email = mahmoud.elboghdady@jrvs.ca
[push]
	default = simple
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	lg = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[init]
	defaultBranch = main
